#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  rally-app.service
BindsTo=rally.service
After=rally.service postgresql-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/rally-app.pid %t/rally-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/rally-app.pid \
    --cidfile %t/rally-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/rally.pod-id --replace -d --name  rally-app \
    --env-file=%S/state/rally.env \
    --env-file=%S/state/rally-db.env \
    ${RALLLY_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/rally-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP rally-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/rally-app.ctr-id
PIDFile=%t/rally-app.pid
Type=forking

[Install]
WantedBy=default.target
